body, h1, h2, p, ul, li, a {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Nunito", Arial, Helvetica, sans-serif;
    color: #222222;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

* {
    box-sizing: border-box;
}

/* SuperInfo */
.superinfo-bg {
    background: #cc6600;
    color: white;
}

.superinfo {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 0 10px;
    flex-wrap: wrap;
}


.superinfo p, .superinfo a {
    margin: 0 10px 10px 10px;
}

.superinfo a {
    color: white;
}

/* Menu */
.menu-bg {
    background: #ff9933;
}

.menu {
    max-width: 960px;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu a {
    color: white;
}

.menu-logo a {
    font-size: 2.25em;
    font-weight: bold;
    margin: 0 10px;
}

.menu-nav ul {
    display: flex;
    flex-wrap: wrap;
}

.menu-nav a {
    font-size: 1.25em;
    display: block;
    padding:10px;
}

.menu-nav a:hover{
    color:#cc6600;
}

/*Introdução*/

.introducao {
    font-size: 3em;
    line-height: 1;
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 10px;
}

/*Sobre*/

.sobre {
    border-top: 2px solid #cc6600;
    border-bottom:  2px solid #cc6600;
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 0;
    display: flex;
    flex-wrap: wrap;
}

.sobre-info {
    flex: 2 1 300px;
    margin: 0 10px;
}

.sobre-info h1 {
    font-size: 3em;
    margin-bottom: .5em;
}

.sobre-info p {
    font-size: 1.25em;
    line-height: 1.4;
    margin-bottom: 1em;
    color: #7c7c7c;
}

.sobre-img {
    flex: 1 1 160px;
    margin: 0 10px;
}

/*Comentario*/

.comentarios {
    max-width: 960px;
    margin: 60px auto;
}

.comentarios h1 {
    font-size: 3em;
    margin: 0 10px 60px 10px
}

.comentarios-container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
.comentarios-item {
    flex: 1 1 175px;
    margin: 10px;
}

.comentarios-item h2 {
    font-size: 3em;
    color: #a4a4a4;
    background: #f7f7f7;
    padding: 60px 20px;
}

.orange {
    border-top: 8px solid #ff9933;
    display:flow-root;
}

.yellow {
    border-top: 8px solid #e9ec11;
}

.red {
    border-top: 8px solid #f72929;
}

/*Mapas*/

.mapas {
    background: #f7f7f7;
    padding: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.mapas-item {
    flex: 1;
    border: 4px solid white;
    padding: 20px;
    margin: 10px;
}

.margin-item h2{
    font-size: 3em;
    color: #a4a4a4;
    text-align: center;
    margin-top: 20px;
}
/*Sites*/

.sites {
    background: #f7f7f7;
    padding: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.sites-item {
    flex: 1;
    border: 4px solid white;
    padding: 20px;
    margin: 10px;
}
.sites-item h2{
    font-size: 3em;
    color: #131212;
    text-align: center;
    margin-top: 10px;

}

/*Cadastrar*/

.cadastre-se {
    background: #f7f7f7;
    padding: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.cadastre-se-item {
    flex: 1;
    border: 4px solid white;
    padding: 20px;
    margin: 10px;
}
.cadastre-se-item h2{
    font-size: 3em;
    color: #131212;
    text-align: center;
    margin-top: 10px;

}